extends layouts/layout.pug

block content
  if user
    h1= user.name
    p Country: #{user.country}
    p Languages: #{user.language}
    p Interests: #{user.interests}
    p Bio: #{user.bio}
  else
    p User not found
