extends layouts/layout.pug

block content
  .profile-page
    h1.page-title User Profile

    if user
      .profile-card
        .profile-avatar-large 👤
        h2.profile-name= user.name

        p
          strong Culture:
          |  #{user.country}

        p
          strong Languages:
          |  #{user.language}

        p
          strong Interests:
          |  #{user.interests}

        p
          strong Bio:
          |  #{user.bio}

        a.back-link(href="/users") ← Back to Community
    else
      p User not found.
